{% extends 'races/base.html' %}
{% block content %}

<h1>Race Session</h1>

<table>
  <thead>
    <th>Driver Number</th>
    <th>Abbr.</th>
    <th>Position</th>
    <th>Q1 Best Lap</th>
    <th>Q2 Best Lap</th>
    <th>Q3 Best Lap</th>
  </thead>
  <tbody>
    {% for driver_number, abbr, position, q1, q2, q3 in session_info %}
    <tr>
      <td>{{driver_number}}</td>
      <td>{{abbr}}</td>
      <td>{{position}}</td>
      <td>{{q1}}</td>
      <td>{{q2}}</td>
      <td>{{q3}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
