{% extends 'races/base.html' %}
{% block content %}

<h1>{{event_name}} &ndash; {{session_type}}</h1>

<table>
  <thead>
    <th>Driver Number</th>
    <th>Abbr.</th>
    <th>Finish Result</th>
    <th>Start Position</th>
    <th>Status</th>
    <th>Points Earned</th>
  </thead>
  <tbody>
    {% for driver_number, driver_abbr, finish_result, grid_position, status, points in session_info %}
    <tr>
      <td>{{ driver_number }}</td>
      <td><a href="{% url "driver_laps" event_name session_type driver_abbr %}" title="View Lap Data">{{ driver_abbr }}</a></td>
      <td>{{ finish_result }}</td>
      <td>{{ grid_position|floatformat:"0" }}</td>
      <td>{{ status }}</td>
      <td>{{ points|floatformat:"0" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
